@model Rad301ClubsV1.Models.ClubModel.Member

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.club.ClubName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.club.ClubName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.student.Fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student.Fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.approved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.approved)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
